extends layout
block menu
  li.active.nav-item
    a.nav-link(href='/') List
  li.nav-item
    a.nav-link(href='/book/add') Add book
  li.nav-item
    a.nav-link(href='/author/add') Add author
  li.nav-item
    a.nav-link(href='/publishing_house/add') Add publishing house

block content
    div.my-3.p-3.bg-white.rounded.shadow-sm
      div.media.text-muted.pt-3
        
        div.media-body.pb-3.mb-0.lh-125.border-bottom.border-gray.col-sm-11 ABC 
        div.col-sm-1
        a.btn.btn-primary(href='/book/show/', role='button') Details